<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="inputName" class="col-sm-4 control-label">Name</label>
		<div class="col-sm-4">
	  		<input type="text" class="form-control" id="inputName" placeholder="Name this expense" ng-model="expense.name">
		</div>
	</div>
	<div class="form-group">
		<label for="inputAmount" class="col-sm-4 control-label">Amount</label>
		<div class="col-sm-4">
	  		<input type="text" class="form-control" id="inputAmount" placeholder="Amount" ng-model="expense.amount">
		</div>
	</div>
	<div class="form-group">
		<label for="inputDate" class="col-sm-4 control-label">Date</label>
		<div class="col-sm-4">
	  		<div style="display:inline-block;">
		        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
		    </div>
		</div>
	</div>
	<div class="form-group">
		<label for="selectPaidBy" class="col-sm-4 control-label">Paid By</label>
		<div class="col-sm-4">
			<select class="form-control" ng-model="expense.paid_by">
				<option value="{{friend._id}}"  ng-repeat="friend in sheet.friends">{{friend.name}}</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="selectPaidBy" class="col-sm-4 control-label">Paid For</label>
		<div class="col-sm-4">
			<select class="form-control" multiple ng-model="expense.paid_for">
				<option value="{{friend._id}}"  ng-repeat="friend in sheet.friends">{{friend.name}}</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-4">
	  		<button class="btn btn-success" ng-click="addExpense(expense, dt)"><span class="glyphicon glyphicon-check"></span> Save</button>
	  		<a class="btn btn-warning" ui-sref="sheets.expenses({id: sheet._id})">Discard</a>
		</div>
	</div>
</form>